.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 33%;
    padding: 2rem;
    background: #fff;
    align-items: center;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
}

.LoginForm>input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #111;
}

.LoginForm>button {
    background: linear-gradient(rgba(182, 175, 175, 0.2) 0, #facd05cc 0);
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
}

.LoginDiv {
    height: 100vh;
    background: linear-gradient(rgba(182, 175, 175, 0.2) 0, #facd05cc 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loginlink {
    color: darkred;
    text-decoration: none;
}