.main-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin-top: 2rem;
  margin-inline: auto;
  gap: 3rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h1 {
  padding-left: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  padding-left: 1rem;
}

.input {
  line-height: 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  background-color: rgb(238, 238, 238);
  padding-left: 2rem;
  font-size: 1.2rem;
}

.submit-btn {
  border: none;
  border-radius: 1rem;
  width: 30%;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  background-color: green;
  color: white;
  cursor: pointer;
}
