.addReservationDiv {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.MuiFormControl-root {
  margin: 10px 0;
}

.MuiButton-root {
  margin-top: 20px;
  background-color: #2196f3;
  color: white;

  /* &:hover {
    background-color: #1976D2;
  } */
}

.MuiInputBase-input {
  padding: 10px;
  font-size: 16px;
}

.MuiSelect-root {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.MuiSelect-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiFormLabel-root {
  font-size: 16px;
}

.MuiMenuItem-root {
  font-size: 16px;
}

.MuiTypography-root {
  font-size: 16px;
}

.MuiPickersDay-daySelected {
  background-color: #2196f3;
}

.MuiPickersDay-current {
  color: #2196f3;
}
