.main-title {
  margin-top: 4rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  font-family: Roboto, sans-serif;
}

.vehicleImg {
  display: block;
  margin-inline: auto;
  width: 100%;
  border-radius: 50%;
}

.linkss {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  color: #000;
  border-radius: 2rem;
  padding-bottom: 1rem;
}

.vehicleDiv {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.linkss > h3 {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.linkss:hover {
  background-color: yellow;
}

.vehicles {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100vh;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 20rem;
}
