.vehicleImg {
  display: block;
  margin-inline: auto;
  width: 100%;
  border-radius: 50%;
}

.linkss {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  color: #000;
}

.vehiclesDiv > h2 {
  font-size: 30px;
  text-align: center;
}

.vehicleDiv {
  width: 30%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.linkss > h3 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.vehicles {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 20rem;
}
