.NavDiv {
  height: 100%;
}

.logo {
  width: 100%;
}

.NavDiv > nav {
  width: 100%;
  display: flex;
  font-size: 20px;
  height: 80%;

  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

.NavH2 {
  font-family: 'Norican', cursive;
  font-size: 2.5rem;
  padding: 0.5rem;
}

.NavDiv > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-family: sans-serif;
}

.NavDiv > nav > ul > li,
.NavDiv > nav > ul .link {
  padding: 0.5rem;
  border-radius: 12px;
  width: 100%;
  background: #fff;
  color: #111;
  transition: 0.5s ease-in-out;
  font-size: 16px;
}

.NavDiv > nav > ul > li:hover,
.NavDiv > nav > ul .link:hover {
  background: green;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.NavDiv > nav > ul .link.active {
  background: green;
  color: #fff;
}
