.NavDiv {
    display: flex;
    font-size: 20px;
    height: 100%;
    align-items: center;
}

.NavDiv>nav {
    width: 100%;
}

.NavDiv>nav>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
    text-decoration: none;
    font-family: sans-serif;
}

.NavDiv>nav>ul>li,
.NavDiv>nav>ul .link {
    padding: 0.5rem;
    border-radius: 12px;
    width: 100%;
    background: #fff;
    color: #111;
    transition: 0.5s ease-in-out;
    font-size: 16px;
}

.NavDiv>nav>ul>li:hover,
.NavDiv>nav>ul .link:hover {
    background: green;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}