@import url('https://fonts.googleapis.com/css2?family=Inter&family=Norican&family=Poppins&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100%;

  /* border: 1px solid #111; */
}

.navApp {
  flex: 1;
  border-right: 1px solid #111;
}

.navRoute {
  flex: 6;
}

.AppDiv {
  height: 100vh;
  border: 1px solid #111;

  /* display: flex; */
}
